# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
name = Mark Jentz
	email = 1196441+jentz@users.noreply.github.com
[url "git@github.com:"]
	insteadOf = https://github.com/
[init]
	defaultBranch = main
[core]
	autocrlf = input
