# This is Git's per-user configuration file.
[include]
  path = .config/git/gituser-default
[includeIf "gitdir:~/code/p24/"]
  path = .config/git/gituser-p24

[url "git@github.com:"]
	insteadOf = https://github.com/
[init]
	defaultBranch = main
[core]
	autocrlf = input
